@media(max-width:1200px) {
  .header {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-right: 15px;
    }
  }

  .top-slider {
    &__img {
      width: 40%;
      object-fit: contain;
    }

    &__content {
      padding-left: 15px;
      padding-top: 40px;
    }
  }
}

@media(max-width:1050px) {
  .footer-top {
    flex-wrap: wrap;

    &__item-form {
      max-width: 100%;
      margin-top: 30px;
    }
  }

  .top-slider {
    &__img {
      display: none !important;
    }

    .slick-dots {
      margin-top: 0;
    }

    &__content {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }
}

@media(max-width:860px) {
  .header {
    &__inner {
      padding-right: 0;
    }
  }

  .menu {
    order: 1;
    margin-left: 40px;

    // display: none;
    &__list {
      transform: translateY(-200%);
      position: absolute;
      width: 100%;
      top: 110px;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5;
      background-color: white;
      transition: all .3s linear;

      &.menu__list--active {
        transform: translateY(0%);
        transition: all .3s linear;
      }
    }

    &__list-item {
      padding: 0 15px;
      width: 100%;
      text-align: center;
    }

    &__list-link {
      display: block;
      width: 100%;
      padding: 12px 0;

      &:hover {
        border-bottom: none;
      }
    }

    &__list-item:not(:last-child) {
      padding-right: 0;
      padding-left: 0;
    }

    &__btn {
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      cursor: pointer;

      span {
        width: 100%;
        height: 3px;
        background-color: $title-color;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $title-color;
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }
    }
  }

  .user-nav {
    margin-left: auto;
  }

  .footer-top {
    &__contact {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .footer-top {
    &__title {
      cursor: pointer;
      pointer-events: auto;
    }
  }
}

@media(max-width:620px) {
  .footer-bottom {
    justify-content: center;

    &__copy {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  .top-slider {
    padding: 45px 0 30px;

    &__title {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 55px;
    }
  }
}

@media(max-width:500px) {
  .menu {
    order: 0;

    &__list {
      top: 140px;
    }
  }

  .user-nav {
    width: 100%;
    margin-top: 35px;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .form {
    flex-wrap: wrap;
  }

  .footer-top {
    &__form-input {
      max-width: 100%;
      margin-bottom: 30px;
      margin-right: 0;
    }

    &__form-btn {
      display: block;
      width: 100%;
    }
  }
}

@media(max-width:420px) {
  .footer-top {
    &__nav:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media(max-width:375px) {
  .top-slider {
    padding: 45px 0 30px;

    &__title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}