@media(max-width:1230px) {
  .info {
    &::before {
      right: 0;
    }

    &__item {
      width: 340px;
      padding: 20px 20px;
    }
  }

  .blog {
    &__items {
      &::after {
        right: 8px;
      }
    }
  }

  .page-404 {
    &__img {
      width: 40%;
    }
  }

  .blog-page {

    .person,
    .latest-post,
    .filter-category,
    .filter-popular {
      display: none;
    }

    &__inner {
      flex-direction: column;
    }

    &__content {
      width: 100%;
      margin-right: 0;
    }

    &__img {
      max-width: 100%;
      width: 100%;
    }

    &__aside {
      width: 100%;
      order: -1;
    }
  }

  .filter-search {
    &:hover {
      box-shadow: 0px 20px 60px 0px rgba(187, 187, 187, 0.5);
    }

    &__input {
      width: 100%;
    }
  }

  .shop {
    &__inner {
      display: block;
    }

    &__filters {
      width: 100%;
      margin-right: 0;
      display: none;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 100;
      background-color: #fff;

      .filter-search {
        &:hover {
          box-shadow: none;
        }
      }
    }

    &__filter-btn {
      display: block;
      // border: none;
      background-color: $accent-color;
      padding: 0;
      width: 60px;
      height: 60px;
      position: fixed;
      right: 0;
      z-index: 101;
      bottom: 50px;
      border-radius: 50%;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
      cursor: pointer;

      &:hover {
        background-color: grey;
      }

      img {
        margin: 0 auto;
      }
    }
  }

  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__nogrid {
      display: flex;
    }
  }

  .product-one {
    &__slide {
      width: auto;
      margin-right: 30px;
    }
  }

  .product-slide {
    &__small {
      display: none;
    }

  }


}

@media(max-width:1200px) {
  .header {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-right: 15px;
    }
  }

  .top-slider {
    &__img {
      width: 40%;
      object-fit: contain;
    }

    &__content {
      padding-left: 15px;
      padding-top: 40px;
    }
  }

  .blog {
    &__items {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__item-box {
      padding: 20px 15px;
    }
  }


}

@media(max-width:1100px) {
  .info {
    display: block;

    &__item {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    &__item-title {
      margin: 20px 0 10px;
    }
  }

  .categories {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    &__item {
      background-position: center top;

      &:nth-child(1) {
        grid-row: auto;
      }

      &:nth-child(2) {
        grid-column: auto;
        background-position: center right;
      }
    }
  }

  .contact {
    &__inner {
      display: block;
    }

    &__info {
      margin-right: 0;
      width: 100%;
      margin-bottom: 30px;
    }

    &__form {
      box-shadow: none;
      padding: 0;
    }

    &__form-box {
      display: block;
    }

    &__form-input {
      max-width: 100%;
    }
  }
}

@media(max-width:1050px) {
  .footer-top {
    flex-wrap: wrap;

    &__item-form {
      max-width: 100%;
      margin-top: 30px;
    }
  }

  .top-slider {
    &__img {
      display: none !important;
    }

    .slick-dots {
      margin-top: 0;
    }

    &__content {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  .video-fashion {
    &__inner {
      display: block;
    }

    &__popup {
      max-width: 100%;
      background-position: center top;
    }

    &__content {
      max-width: 100%;
    }
  }

  .product-item {
    &__img-box {
      height: 305px;
    }
  }

  .blog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .product-one {
    &__inner {
      display: block;
    }

    &__content {
      width: 100%;
      margin-top: 35px;
    }
  }

  .product-slide {
    &__big {
      width: 100%;

      img {
        width: auto;
        margin: 0 auto;
      }
    }

  }
}

@media (max-width: 992px) {
  .page-404 {
    &__img {
      display: none;
    }
  }
}

@media(max-width:860px) {
  .header {
    &__inner {
      padding-right: 0;
    }

    .shop-content {
      &__inner {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .related {
      &__items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }
    }
  }

  .menu {
    order: 1;
    margin-left: 40px;

    &__list {
      transform: translateY(-200%);
      position: absolute;
      width: 100%;
      top: 110px;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5;
      background-color: white;
      transition: all .3s linear;

      &.menu__list--active {
        transform: translateY(0%);
        transition: all .3s linear;
      }
    }

    &__list-item {
      padding: 0 15px;
      width: 100%;
      text-align: center;
    }

    &__list-link {
      display: block;
      width: 100%;
      padding: 12px 0;

      &:hover {
        border-bottom: none;
      }
    }

    &__list-item:not(:last-child) {
      padding-right: 0;
      padding-left: 0;
    }

    &__btn {
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      cursor: pointer;

      span {
        width: 100%;
        height: 3px;
        background-color: $title-color;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $title-color;
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }
    }
  }

  .user-nav {
    margin-left: auto;
  }

  .footer-top {
    &__contact {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .footer-top {
    &__title {
      cursor: pointer;
      pointer-events: auto;
    }
  }

  .product {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media(max-width:768px) {
  .categories {
    &__items {
      min-height: 385px;
    }

    &__item {
      background-image: none !important;
      justify-content: center;
      padding-left: 15px;
      padding-top: 0;
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        background-color: #f4dff0;
      }

      &:nth-child(2) {
        background-color: #d7efef;
      }

      &:nth-child(3) {
        background-color: #fff6a7;
      }

      &:nth-child(4) {
        background-color: #ededed;
      }
    }
  }

  .blog {
    padding: 60px 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .comments-form {
    &__label {
      display: block;
      margin-right: 0;
    }

  }
}

@media(max-width:700px) {
  .shop-content {
    &__filter-buttons {
      display: none;
    }

    &__filter {
      padding: 20px 25px 20px 0;
    }
  }
}


@media(max-width:620px) {
  .footer-bottom {
    justify-content: center;

    &__copy {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  .top-slider {
    padding: 45px 0 30px;

    &__title {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 55px;
    }
  }

  .footer-top {
    &__form-input {
      max-width: 300px;
    }
  }

  .categories {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }

    &__item {
      padding: 15px 10px;
    }
  }

  .categories-info {
    padding: 80px 0 60px;
  }


  .video-fashion {
    padding: 60px 0;

    &__popup {
      height: 270px;
    }

    &__subtitle {
      padding-top: 40px;
      font-size: 18px;
    }
  }

  .product {
    padding: 60px 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }
  }

  .product-item {
    max-width: 100%;

    &__images {
      width: 100%;
    }
  }

  .promo {
    padding: 60px 0;

    &__clock {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__clock-item {
      margin: 20px 36px;
    }
  }

  .partners {
    padding: 30px 0;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
    }

    &__item {
      margin: 10px 35px;
    }
  }

  .top {
    margin-bottom: 60px;
  }

  .blog-page {
    padding-bottom: 60px;

    &__item-box {
      padding: 20px;
    }

    &__img {
      height: 260px;
    }

    &__item-link {
      font-size: 20px;
      line-height: 1.1;
    }
  }

  .blog-one {
    &__text {
      padding: 20px 10px;
    }

    &__info {
      display: block;
    }

    &__info-item {
      margin-bottom: 5px;
    }

    &__box {
      flex-wrap: wrap;
    }

    &__tags {
      padding-right: 10px;
    }
  }

  .comments-form {
    &__box-input {
      display: block;
    }

    &__text-input {
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .map {
    margin-bottom: 60px;
  }

  .shop-content {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .product-page {
    margin-bottom: 30px;
  }

  .related {
    padding-bottom: 60px;
  }

}

@media(max-width:500px) {
  .menu {
    order: 0;

    &__list {
      top: 140px;
    }
  }

  .user-nav {
    width: 100%;
    margin-top: 35px;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .form {
    flex-wrap: wrap;
  }

  .footer-top {
    &__form-input {
      max-width: 100%;
      margin-bottom: 30px;
      margin-right: 0;
    }

    &__form-btn {
      display: block;
      width: 100%;
    }
  }

  .partners {
    &__item {
      margin: 10px 25px;
    }
  }

  .comments-form {
    &__btn {
      display: block;
      width: 100%;
    }
  }

  .contact {
    &__info-title {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .contact {
    &__form-btn {
      width: 100%;
    }
  }

  .pagination {
    &__arrow {
      display: none;
    }
  }

  .product-slide {
    &__big img {
      height: 400px;
    }
    &__big-item {
      height: auto;
    }
  }

  .product-one {
    &__box {
      display: block;
    }

    &__price {
      margin-bottom: 5px;
      padding-left: 5px;
    }

    &__item-btn {
      margin-left: 0;
    }

  }

  .product-filter__size label {
    margin-right: -1px;
  }

  .product-tabs {
    &__top-item {
      display: block;
      margin-bottom: 10px;
      padding-top: 10px;
    }

    &__top-item:not(:last-child) {
      margin-right: 0;
    }
  }

  .comments {
    &__img {
      display: none;
    }

    &__content-date {
      display: none;
    }
  }

  .related {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media(max-width:420px) {
  .footer-top {
    &__nav:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .promo {
    &__clock {
      margin-top: 30px;
    }

    &__clock-item {
      margin: 8px;
    }
  }

  .page-404 {
    padding: 60px 0;
  }

  .blog-one {
    &__author-img {
      display: none;
    }

    &__text {
      blockquote {
        padding: 15px;
      }
    }
  }

  .comments {
    &__img {
      display: none;
    }
  }
}

@media(max-width:375px) {
  .top-slider {
    padding: 45px 0 30px;

    &__title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }

  .info {
    &__item-title {
      font-size: 20px;
    }
  }

  .blog-box {
    display: block;

    &__author {
      display: block;
      margin-bottom: 10px;
    }
  }

  .blog {
    &__item-imglink {
      img {
        height: 220px;
      }
    }
  }

  .modal {
    &__link {
      margin: 0 20px;
    }
  }

  .blog-page {
    &__item-box {
      padding: 10px 5px;
    }

    &__img {
      height: 170px;
    }

    &__slider {
      .slick-prev {
        right: 10px;
      }

      .slick-next {
        left: 10px;
      }
    }
  }

  .filter {
    &__item {
      padding: 25px 15px;
    }
  }

  .contact {
    &__info-item {
      padding-left: 60px;

      &::before {
        height: 50px;
        width: 50px;
        left: 3px;
        top: 0px;
      }
    }
  }

}